In [3]:
first_name = "Ezekiel"
last_name = "Partel"
full_name = first_name+ " " + last_name
print(full_name)

Ezekiel Partel

In [7]:
message = 'this is a string'
message.title()
print (message)

this is a string

In [8]:
print (message.title())

This Is A String

In [9]:
first_name = "Ezekiel"
last_name = "Partel"
full_name = first_name+ " " + last_name
print("Hello "+full_name)

Hello Ezekiel Partel

# To add a tab - \t

In [10]:
print(first_name+ "\t" + last_name)

Ezekiel	Partel

# To add a new line - \n

In [11]:
print(first_name+ "\n" + last_name)

Ezekiel
Partel

In [12]:
with_Space = "  Ezekiel   "
without_space = "Partel"
print (with_Space)

  Ezekiel

In [14]:
print(with_Space.lstrip())

Ezekiel

In [16]:
with_Space = "Ezekiel   "
print(with_Space)

Ezekiel

In [21]:
print(with_Space.rstrip())

  Ezekiel

In [18]:
with_Space = "  Ezekiel"
print(with_Space)

  Ezekiel

In [20]:
print(with_Space.lstrip())

Ezekiel

# Intergers

In [22]:
2+3

5

In [23]:
3-2

1

In [24]:
3/2

1.5

In [25]:
2*3

6

In [1]:
(7*5)/5

7.0

In [3]:
8/2

4.0

# Avoiding type errors with str()

In [4]:
age = 28
msg = "Happy "+age+"th birthday"
print (msg)

TypeError: can only concatenate str (not "int") to str

In [5]:
age = 28
msg = "Happy "+str(age)+"th birthday"
print (msg)

Happy 28th birthday

In [6]:
first_name = "Josiah"
print (first_name.upper())

JOSIAH

In [7]:

print (first_name.lower())

josiah

In [8]:

print (first_name.title())

Josiah

In [9]:
a_name  ='John'
message =(a_name +' how are you?')
print (message)

John how are you?

In [10]:
msg= "When you do not create things, you become defined by your taste rather than ability"
print(msg)

When you do not create things, you become defined by your taste rather than ability

In [11]:
age = 25
msg = "Your age is "+str(age)
print (msg)

Your age is 25

In [12]:
message =("Tom\t\n","Tim\t\n","Jack\t\n")
print('NAMES:'+message)

TypeError: can only concatenate str (not "tuple") to str

In [13]:
message ="Tom\t\n","Tim\t\n","Jack\t\n"
print('NAMES:'+message)

TypeError: can only concatenate str (not "tuple") to str

In [14]:
message =("Tom\t\n","Tim\t\n","Jack\t\n")
print(message)

('Tom\t\n', 'Tim\t\n', 'Jack\t\n')

In [15]:
print('NAMES:\n\tTom\n\tTim\n\tJack\n\t')

NAMES:
	Tom
	Tim
	Jack

In [16]:
msg= ' When you do not create things, you become defined by your taste rather than ability '

print(msg.strip())

When you do not create things, you become defined by your taste rather than ability

# LIST

In [17]:
alphabets =['abc','def','ghi']

In [18]:
print(alphabets)

['abc', 'def', 'ghi']

# Access Elements In List

In [20]:
print(alphabets[0])

abc

In [19]:
print(alphabets[1])

def

In [22]:
print(alphabets[2])

ghi

### Index positions start at 0 ,not 1  the use of -1 to get to the last item in a list

In [23]:
print(alphabets[-1])

ghi

In [25]:
names=['Tom','Jerry','Kim']
second_name=names[1]
print(second_name)

Jerry

In [26]:
print('Your name is '+ second_name)

Your name is Jerry